<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="trebek-clue" attributes="category value text">
  <template>
    <style>
      :host p .final {
        background: red;
      }
      :host speech-mic {
        margin-top: 15px;
        transform: scale(2);
      }
    </style>

    <trebek-modal hidden?="{{hide}}">
      <h1>{{category}} ${{value}}</h1>
      <p>{{text}}</p>

      <template if="{{canBuzz}}">
        <trebek-button id="buzz" on-click={{buzzIn}}>Buzz In</trebek-button>
      </template>

      <speech-mic hidden?={{!canAnswer}} id="speechMic"></speech-mic>

      <div id="timer" hidden?={{!canAnswer}}>
        <p>you better hurry...</p>
      </div>

      <template if="{{!canBuzz && !canAnswer && !didFail}}">
        <p>Someone else is attempting...</p>
      </template>

      <template if="{{didFail}}">
        <p>Time's up or you got it wrong, but either way...</p>
      </template>

      <p hidden?={{!canAnswer}} id="transcript"></p>
    </trebek-modal>
  </template>

  <script>
    Polymer({
      publish: {
        canAnswer: {
          value: false,
          reflect: true
        },
        canBuzz: {
          value: true,
          reflect: true
        },
        didFail: {
          value: false,
          reflect: true
        }
      },
      created: function() {
        this.canBuzz = true;
      },
      buzzIn: function(event, detail, sender) {
        User.client.buzzIn();
      },
      canAnswerChanged: function(oldVal, newVal) {
        console.log(oldVal, newVal);

        if (!newVal) return;

        var transcript = this.$.transcript;
        this.listener = this.$.speechMic.addEventListener('speech-mic-result', function(e) {
          transcript.innerHTML = e.detail.transcript;
          if (e.detail.isFinal) {
            transcript.innerHTML = e.detail.transcript;
            User.client.submitAnswer(e.detail.transcript);
            this.stop();
          }
        });
      },
      ready: function() {
        var self = this;

        User.events.on('owned', function() {
          self.canAnswer = true;
          self.canBuzz = false;
          // update timer
          var seconds = 10;
          setInterval(function() {
            self.$.timer.innerHTML = seconds;
            seconds--;
            if seconds < 0 {
              seconds = 10;
            }
          }, 1000);
        });
        User.events.on('locked', function() {
          self.canAnswer = false;
          self.canBuzz = false;
        });
        User.events.on('open', function() {
          self.canBuzz = true;
          self.canAnswer = false;
        });
        User.events.on('failed', function() {
          self.didFail = true;
          self.canBuzz = false;
          self.canAnswer = false;
        });
      },
      close: function() {
        this.hide = !this.hide;
      }
    });
  </script>
</polymer-element>
