<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="trebek-contestant" attributes="name score host? answering?">
  <template>
    <style>
      :host {
        display: flex;
        line-height: 0;
        padding-right: 10px;
        opacity: 0.6;
        transition: opacity 400ms ease-in-out;
      }

      :host(:hover) {
        opacity: 1;
      }

      :host p.contestant-name {
        padding-right: 5px;
      }

      :host p.hosting {
        color: red;
      }

      :host p.answering {
        text-shadow: 1px 1px red;
      }
    </style>
    <p class="{{ {hosting: isHosting, answering: isAnswering} | tokenList}} contestant-name">{{name}}</p>
    <p class="contestant-score">${{score}}</p>
  </template>
  <script>
    Polymer('trebek-contestant', {
      ready: function() {
        this.isHosting = this.getAttribute('host?');
        this.isAnswering = this.getAttribute('answering?');
      },
    });
  </script>
</polymer-element>
