<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="trebek-contestant" attributes="name score host?">
  <template>
    <style>
      :host {
        display: flex;
        line-height: 0;
        padding-right: 10px;
        opacity: 0.6;
        transition: opacity 400ms ease-in-out;
      }

      :host(:hover) {
        opacity: 1;
      }

      :host p.contestant-name {
        padding-right: 5px;
      }
    </style>
    <p class="contestant-name">{{name}}</p>
    <p class="contestant-score">${{score}}</p>
  </template>
  <script>
    Polymer('trebek-contestant', {
    });
  </script>
</polymer-element>
