<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="trebek-modal" attributes="closeable">
  <template>
    <style>
      :host .overlay {
        position: absolute;
        top: 30px;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.7);
      }

      :host .box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        border: 20px solid #000;
        transform: translate(-50%, -50%);
      }

      :host .box .content {
        padding: 5%;
        background-color: #0009D4;

        color: #fff;

        font-size: 200%;
        text-align: center;
        line-height: 150%;
      }
    </style>

    <div class="overlay" hidden?="{{hide}}">
      <div class="box" hidden?="{{hide}}">
        <div class="content">
          <content></content>
          <template if="{{closeable}}">
            <trebek-button on-tap="{{close}}" type="danger">Close</trebek-button>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      publish: {
        hide: {
          value: false,
          reflect: true
        },
        closeable: {
          value: false,
          reflect: true
        }
      },
      close: function() {
        this.hide = !this.hide;
      }
    });
  </script>
</polymer-element>
