<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Trebekacolypse Now!</title>

  <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>

  <link rel="import" href="components/button.html">
  <link rel="import" href="components/loading.html">
  <link rel="import" href="components/board.html">
  <link rel="import" href="components/modal.html">
  <link rel="import" href="components/contestant.html">
  <link rel="import" href="components/share.html">

  <link rel="stylesheet" href="/styles/main.css" type="text/css">
</head>
<body>

  <%- yield %>

  <script src="/js/bundle.js"></script>
</body>
</html>
