<header>
  <h2 id="header-text">Trebekacolypse Now!</h2>

  <div id="contestants">
    <!-- <trebek-contestant host?="true" name="Alex" score=900></trebek-contestant>
    <trebek-contestant name="Matt" score=900></trebek-contestant>
    <trebek-contestant answering?="true" name="Adam" score=-900></trebek-contestant> -->
  </div>
  <button id="username" class="info">Change Username</button>
  <button id="share" class="info">Share</button>
  <button id="new-game" class="danger">Create New Game</button>
  <button id="quit" class="danger">Quit</button>
</header>

<div class="board-container">
  <div id="board">
    <trebek-loading></trebek-loading>
  </div>
</div>

<trebek-user hide></trebek-user>
<trebek-share gameId="1234" hide></trebek-share>
