<header>
  <h2 id="header-text">Trebekacolypse Now!</h2>

  <button id="scores" class="info">Scores</button>
  <button id="quit" class="danger">Quit</button>
</header>

<div class="board-container">
  <%- partial("_board") %>
</div>
