<header>
  <h2 id="header-text">Trebekacolypse Now!</h2>

  <trebek-contestant host?="true" name="Alex" score=900></trebek-contestant>
  <trebek-contestant name="Matt" score=900></trebek-contestant>
  <trebek-contestant answering?="true" name="Adam" score=-900></trebek-contestant>
  <button id="scores" class="info">Scores</button>
  <button id="quit" class="danger">Quit</button>
</header>

<div class="board-container">
  <div id="board">
    <trebek-loading></trebek-loading>
  </div>
</div>
