<table class="board">
  <thead>
    <tr>
      <th>Category 1</th>
      <th>Category 2</th>
      <th>Category 3</th>
      <th>Category 4</th>
      <th>Category 5</th>
      <th>Category 6</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>$200</td>
      <td>$200</td>
      <td>$200</td>
      <td>$200</td>
      <td>$200</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>$400</td>
      <td>$400</td>
      <td>$400</td>
      <td>$400</td>
      <td>$400</td>
      <td>$400</td>
    </tr>
    <tr>
      <td>$600</td>
      <td>$600</td>
      <td>$600</td>
      <td>$600</td>
      <td>$600</td>
      <td>$600</td>
    </tr>
    <tr>
      <td>$800</td>
      <td>$800</td>
      <td>$800</td>
      <td>$800</td>
      <td>$800</td>
      <td>$800</td>
    </tr>
    <tr>
      <td>$1000</td>
      <td>$1000</td>
      <td>$1000</td>
      <td>$1000</td>
      <td>$1000</td>
      <td>$1000</td>
    </tr>
  </tbody>
</table>

<div id="trebek-answer" class="hidden">
  <p>He said, "What a good boy am I!"--if he's so good, why was he in the corner?:::(Little Jack) Horner</p>
</div>
