$panel-border: #000;
$panel-bg: #0009D4;
$panel-amount-color: #FFF382;
$panel-category-color: #fff;
$panel-answer-color: #fff;

$danger: #FF0000;
$caution: #FFC70D;
$info: #B10CE8;

$font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
